body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* CANCEL STYLE________________________ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
/* HEADER_____________________________ */
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.container-header {
  display: flex;
  justify-content: space-between;
  /* width: 1158px;
  margin: 0 auto;
  padding: 0 15px; */
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-contact_link {
  display: flex;
  gap: 40px;
}
.address-contact {
  display: flex;
  gap: 40px;
}

/* logo___ */
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
/* _________ */
.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
  padding: 24px 0;
}
.header-list :hover {
  color: #404bbf;
}
.header-list :focus {
  color: #404bbf;
}
.header-contact_link {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.header-contact :hover {
  color: #404bbf;
}
.header-contact :focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
/* SECTION 1  (SOLUTIONS)_____________________ */

.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solutions-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
/* button_____________ */
.solutions-button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  display: block;
  border: none;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.solutions-button:hover {
  background: #404bbf;
}
.solutions-button:focus {
  background: #404bbf;
}
/* SECTION 2 ___________________________ */
.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 72px) / 4);
}
.features-headtitle {
  /* margin: 0 auto; */
  text-align: center;
  /* margin-bottom: 72px; */
  /* display: none; */
  visibility: hidden;
}
.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.features-text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* SECTION 3 (TEAM) ____________________________ */
.team {
  background: #f4f4fd;
}

.team ul {
  display: flex;
  justify-content: space-between;
}
.team ul li {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 96px) / 4);
  margin-bottom: 120px;
}

.team-headtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team > ul > li {
  background: #fff;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  padding-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  font-size: 16px;
  padding-bottom: 32px;
}
/* SECTION 4 ____________ */

.portfolio ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;
}

.portfolio ul li {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  margin-bottom: 48px;
}

.portfolio-headtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  padding-top: 32px;
  margin-bottom: 8px;
  text-indent: 8px;
}

.portfolio-text {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  text-indent: 8px;
}
/* FOOTER________________ */

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 101.5px;
  display: block;
  margin-bottom: 17.5px;
  padding-top: 101.5px;
  padding-left: 27px;
}

.logo-footerspan {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  padding-bottom: 100px;
  padding-left: 27px;
}
